*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	
}

.logo {
	width: 100% ;
	position: relative;
	background-image: url("../assets/desktop/bg-pattern-header.svg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.logo h1{
	top: 4rem;
	left: 10rem ;
	position: absolute;
	color: black;
	font-size: 1.5rem;
}


.navbar {
	top: 1.8rem;
	position: absolute;
	margin: 5.5rem 20rem;
	width: 55rem;
	border-radius: 0.5rem;
}

.btn{
	width: 40rem;
	margin: 0 0 0 5rem;
}

.exampleCheck1{
	margin-right: 0 5rem;
}